@import "tailwindcss";

@theme {
  --color-border: rgba(216,216,216);
  --color-error: rgba(255,87,87);
  --color-secondary: rgba(37,37,37);
  --color-primary: rgba(5,132,254);
  --color-onSurface: rgba(148,148,148);
  --color-surface: rgba(246,246,246);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
h2 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #333;
}
